
article
	color white
body
	background #e8e1d7
header
	background-image url(../img/foto1.png)
	background-position 0 -100px
	background-repeat no-repeat
	background-size 100% auto
	color white
	height 350px
	letter-spacing 2px
	text-align center
	.texto
		background rgba(black,.5)
		padding 20px 0
		position relative
		z-index 5
		top 50px
		h1
			display inline-block
			font-size 28px
			font-style italic
			text-transform uppercase
		p
			display inline-block
			font-size 28px
			font-style italic
		span
			display block
			font-size 21px
			font-style italic
			text-transform uppercase 
.bg
	background-image url(../img/patron.png)
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	z-index -4
.llamada
	background #bd0506
	font-weight 400
	height 80px
	margin 0 0 20px 0
	position relative
	width 100%
	p  
		color white
		font-size 21px
		font-style italic
		padding  10px 20px 
		text-transform uppercase
		letter-spacing 1px
	span  
		color white
		display block
		font-size 16px
		margin -5px 20px 0 20px
	.boton
		background white
		border-bottom 5px solid rgba(black,.1)
		height 80px
		position absolute
		right 0
		text-align center
		top 0
		width 40px
		&:after
			color azul
			content '\e606'
			font-family icono
			font-size 1.2em
			line-height 75px
.personalidades
	background #db321c
	border-radius 5px
	height auto
	margin 10px auto 20px auto
	padding 0 0 10px 0
	width 95%
	.header
		font-style italic
		text-transform uppercase
		font-size 21px
		padding 20px 20px 10px 20px
		letter-spacing 1px
	.imagen
		width auto
		height 135px
		background-image url(../img/salutacions/ajuntament.jpg)
		background-position 0px 0px 
		background-repeat no-repeat
		background-size 100% auto
	.footer
		font-size 16px
		padding 20px
		position relative
		a
			color white
			font-size 16px
			font-weight 400
			position absolute
			right 40px
			text-decoration none
			top 15px
			&:after
				content '\e607'
				font-family icono
				font-size 2em
				position absolute
				right -25px
				top -5px
.pubillas
	background #f95d49
	border-radius 5px
	height auto
	margin 10px auto 20px auto
	padding 0 0 10px 0
	width 95%
	.caras
		background #f5f5f5
		border-top 1px solid borde
		border-bottom 1px solid borde
		padding 20px 0 20px 0
		overflow-x auto
		white-space nowrap
		.cara
			display inline-block
			margin 0 20px 0 0 
			text-align center
			a
				text-decoration none
			&:first-child
				padding 0 0 0 20px
			img
				box-shadow 0 0 10px rgba(black,.3)
				border-radius 50%
				width 90px
				height auto
			.nombre
				color rgba(black,.6)
				font-size .7em
				font-weight 400
				margin 10px 0 0 0 
	.footer
		font-size 16px
		padding 20px
		position relative
		a
			color white
			font-size 16px
			font-weight 400
			position absolute
			right 40px
			text-decoration none
			top 15px
			&:after
				content '\e607'
				font-family icono
				font-size 2em
				position absolute
				right -25px
				top -5px
	.header
		font-style italic
		text-transform uppercase
		font-size 21px
		padding 20px 20px 10px 20px
		letter-spacing 1px
	



