
article
	background rgba(azul,.7)
	border-radius 5px
	height auto
	margin 10px auto 20px auto
	padding 0 0 10px 0
	width 95%
	.header
		color white
		font-style italic
		text-transform uppercase
		font-size 21px
		padding 20px 20px 10px 20px
	.imagen
		width auto
		height 135px
		background-image url(../img/salutacions/ajuntament.jpg)
		background-position 0px 0px 
		background-repeat no-repeat
		background-size 100% auto
	.footer
		font-size 16px
		padding 20px
		position relative
		a
			color white
			font-size 16px
			font-weight 400
			position absolute
			right 40px
			text-decoration none
			top 15px
			&:after
				content '\e607'
				font-family icono
				font-size 2em
				position absolute
				right -25px
				top -5px
header
	background-image url(../img/castell.png)
	background-position 50% 254px
	background-repeat no-repeat
	background-size 250px auto
	border-bottom 20px solid rgba(black,.7)
	color white
	height 400px
	letter-spacing 2px
	text-align center
	.fondo
		height 400px
		width 100%
		position relative
		z-index -5
		@css{
			background: rgb(34,118,159);
			background: -moz-linear-gradient(top,  rgba(34,118,159,1) 0%, rgba(119,179,206,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(34,118,159,1)), color-stop(100%,rgba(119,179,206,1)));
			background: -webkit-linear-gradient(top,  rgba(34,118,159,1) 0%,rgba(119,179,206,1) 100%);
			background: -o-linear-gradient(top,  rgba(34,118,159,1) 0%,rgba(119,179,206,1) 100%);
			background: -ms-linear-gradient(top,  rgba(34,118,159,1) 0%,rgba(119,179,206,1) 100%);
			background: linear-gradient(to bottom,  rgba(34,118,159,1) 0%,rgba(119,179,206,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22769f', endColorstr='#77b3ce',GradientType=0 );
			}
	.texto
		position relative
		z-index 5
		top -350px
		h1
			display inline-block
			font-size 28px
			font-style italic
			text-transform uppercase
		p
			display inline-block
			font-size 28px
			font-style italic
		span
			display block
			font-size 21px
			font-style italic
			text-transform uppercase 
.llamada
	background azul
	font-weight 400
	height 80px
	position relative
	width 100%
	p  
		color white
		font-size 21px
		font-style italic
		padding  10px 20px 
		text-transform uppercase
	span  
		color white
		display block
		font-size 16px
		margin -5px 20px 0 20px
	.boton
		background white
		border-bottom 5px solid rgba(black,.1)
		height 80px
		position absolute
		right 0
		text-align center
		top 0
		width 40px
		&:after
			color azul
			content '\e606'
			font-family icono
			font-size 1.2em
			line-height 75px



