
/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/stylus/lib/functions/index.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/stylus\/lib\/functions\/index\.styl}line{font-family:\000031}}

/* line 2 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\000032}}
.ha-header{background-image:url("../img/hero.jpg");background-position:0 -100px;background-repeat:repeat-x repeat-y;background-size:80% auto;height:500px;}

/* line 8 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\000038}}
.ha-header .ha-header-perspective{height:100%;width:100%;position:relative;}

/* line 12 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000312}}
.ha-header .ha-header-perspective .logoOuter{background:rgba(255,255,255,0.7);position:absolute;top:0;right:0;bottom:0;left:0;}

/* line 19 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000319}}
.ha-header .ha-header-perspective .logoOuter h1{color:negro;font-size:26px;font-weight:400;letter-spacing:1px;line-height:1.2em;text-align:center;text-transform:uppercase;}

/* line 27 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000327}}
.ha-header .ha-header-perspective .logoOuter h1 span{letter-spacing:0;font-weight:700}

/* line 30 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000330}}

/* line 31 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000331}}

/* line 32 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000332}}
.ha-header .ha-header-perspective .logoInner figure img{display:block;margin:0 auto;width:200px}
