
.ha-header
	background-image url(../img/hero.jpg)
	background-position 0 -100px
	background-repeat repeat-x repeat-y 
	background-size 90% auto
	height 500px
.ha-header-perspective
	height 100%
	width 100%
	position relative
	.logoOuter
		background rgba(white,.8)
		padding 25px 0 0 0 
		position absolute
		top 0 
		right 0 
		bottom 0 
		left 0
		h1
			font-size 24px
			font-weight 400
			letter-spacing 1px
			line-height 1.5em
			text-align center
			text-transform uppercase
			span
				font-weight 700
		.logoInner
			figure
				img
					display block
					margin 0 auto
					width 200px





