

.contenidos
    .calendario 
        .listaDias
            position relative
            z-index 5
            .event
                margin 10px auto 20px auto
                width 80%
                .downOuter
                    .downInner
                        padding 30px 18px 18px 18px
    .noCalendario
        .vistaMovil
            .contieneColaboradores
                .colaboradores
                    .logoOuter
                        padding 0 20px 30px 20px 
                        .logoInner
                            padding 15px
                            width 30%
            .contienePubillas
                .unaPubilla
                    .back
                        padding 30px 0 40px 30px
                    .hero
                        .fotoOuter
                            height 500px
                            .foto
                                background-position 30% 0
                                background-size auto 100%
                                position absolute
                        .detalle
                            bottom 50px
                            left 50px
                            text-align left
                            .nombre
                                font-size 1.7em
                                font-weight 700
                            .club
                                font-size 1.1em
                                font-weight 400
                    .texto
                        padding 50px
                .pubillas
                    .pubillaOuter
                        padding 20px 20px 20px 20px    
                        width 70%
.header
    .heroOuter
        .hero
            .heroInner
                margin -50px 0 0 0 
                height 250%
                width 250%
                background-size 30% auto
    .logoOuter
        h1
            font-size 28px
            line-height 34px