

.contenidos
    .calendario 
        .listaDias
            position relative
            z-index 5
            .event
                margin 10px auto 20px auto
                width 80%
                .downOuter
                    .downInner
                        padding 30px 18px 18px 18px
    .noCalendario
        .colaboradors
            .logoOuter
                padding 0 20px 20px 20px 
                .logoInner
                    width 30%
        .pubillas
            .pubillaOuter
                padding 20px 20px 20px 20px    
                width 70%
.header
    .heroOuter
        .hero
            .heroInner
                margin -50px 0 0 0 
                height 250%
                width 250%
                background-size 30% auto
    .logoOuter
        h1
            font-size 28px
            line-height 34px