
// .contenidos
//     .calendario 
//         .listaEventos
//             .evento
//                 margin 10px auto 15px auto
//                 width 80%
//                 .contenidoEvento
//                     .contenidoEventoInner
//                         padding 30px 23px 18px 23px
    .noCalendario
        .vistaMovil
            .contieneColaboradores
                .colaboradores
                    .logoOuter
                        padding 0 20px 30px 20px 
                        .logoInner
                            padding 15px
                            width 30%
            .contienePubillas
                .unaPubilla
                    .back
                        padding 30px 0 40px 30px
                        &:last-child 
                            padding 10px 0 40px 30px
                    .hero
                        height 600px
                        .fotoOuter
                            height 600px
                            .foto
                                background-position 10% 100%
                                background-size auto 100%
                                position absolute
                        .detalle
                            bottom 50px
                            left 30px
                            text-align left
                            .nombre
                                font-size 1.7em
                                font-weight 700
                            .club
                                font-size 1.1em
                                font-weight 400
                    .texto
                        padding 30px 50px
                        p
                            margin-bottom 16px 
                .pubillas
                    .pubillasOuter
                        padding 20px 20px 20px 20px    
                        width 70%
.header
    background red
    height 500px 
    overflow hidden
    position relative
    width 100%
    .efecto
        position absolute
        top 0 
        right 0
        bottom 0 
        left 0
        z-index 4
        .rayo
            width 100%
            height 500px
            animation animacion 22s infinite
            -webkit-animation animacion 22s infinite
            .rayoInner
                background-image url(../img/rayos.png)
                background-position 0 0
                background-repeat repeat-x repeat-y
                background-size 45% auto
                width 100%
                height 500px
        .rayo2
            // opacity 0
            width 100%
            height 500px
            animation animacion2 42s infinite
            -webkit-animation animacion2 42s infinite
            .rayoInner
                background-image url(../img/rayos.png)
                background-position 0 0
                background-repeat repeat-x repeat-y
                background-size 45% auto
                width 100%
                height 500px
        .rayo3
            // opacity 0
            width 100%
            height 500px
            animation animacion3 62s infinite
            -webkit-animation animacion3 62s infinite
            .rayoInner
                background-image url(../img/rayos.png)
                background-position 0 0
                background-repeat repeat-x repeat-y
                background-size 45% auto
                width 100%
                height 500px
