

footer
.llamadaLabel
.llamadaTitulo
	display none
.contenidos
	display none
.header
	border-bottom 5px solid verde
	height 85px
	position fixed
	.heroOuter
		.hero
			background gris
			animation animacionTablet 150s infinite
			-webkit-animation animacionTablet 150s infinite
			.heroInner
				margin -40px 0 0 0 
				background-position 5px 7px
				background-size 15% auto
				transform: skew(0deg);
				-ms-transform: skew(0deg);
				-webkit-transform: skew(0deg);
	.logoOuter
		h1
			line-height 25px
			font-size 20px
			margin -60px 0 0 115px
			text-align left
		.logoInner
			position relative
			figure
				position absolute
				top 10px 
				left 20px
				img
					display block
					margin 0 auto
					width 60px

.menu
	background menuLateral
	bottom 0
	display block
	height 100%
	left 0 
	position fixed
	top 85px 
	width 80px
	ul
		color rgba(white,.8)
		height 100%
		text-align center
		position relative
		.botonOuter
			cursor pointer
			height 80px
			.botonInner
				position relative
				text-shadow 0 2px 5px rgba(black,.6)
				width 100%
				h3 
					bottom 28px
					font-size .55em
					position relative
				.icono
					&:after
						bottom 24px
						display block
						font-family icomoon
						font-size 2em
						left 38%
						position absolute
				.contactar
					&:after
						content email
				.info
					&:after
						content info
				.patro
					color verde
					&:after
						content colaboradores
				.pubilles
					&:after
						content pubillas
			.top
				margin 85px 0 0 0 
			.bottom
				bottom 165px
				position absolute
