

footer
.llamadaLabel
.llamadaTitulo
	display none
.contenidos
	display none
.header
	border-bottom 5px solid verde
	height 85px
	position fixed
	.heroOuter
		.hero
			background gris
			animation animacionTablet 150s infinite
			-webkit-animation animacionTablet 150s infinite
			.heroInner
				margin -40px 0 0 0 
				background-position 5px 7px
				background-size 15% auto
				transform: skew(0deg);
				-ms-transform: skew(0deg);
				-webkit-transform: skew(0deg);
	.logoOuter
		h1
			line-height 25px
			font-size 20px
			margin -60px 0 0 115px
			text-align left
		.logoInner
			position relative
			figure
				position absolute
				top 10px 
				left 20px
				img
					display block
					margin 0 auto
					width 60px

.menu
	background menuLateral
	bottom 0
	display block
	height 100%
	left 0 
	position fixed
	top 85px 
	width 80px
