
footer
	display none
.contenidos
	bottom 0 
	left 0
	position absolute
	right 0
	top 85px
	width 100%
	.noCalendario
		bottom 0 
		left 0
		margin 85px 420px 0 80px 
		overflow-y auto
		position fixed 
		right 0
		top 0
		.vistaEscritorio
			display block
			.escritorioInner
				.contienePubillas
					.unaPubilla
						overflow hidden
						.back
							padding 20px 0 25px 16px
							.backTo
								border-bottom 1px solid
								display inline-block
								font-weight 400
								&:before
									content back
									font-family icomoon
									margin-right 5px
						.hero
							position relative
							.fotoOuter
								height 400px
								width 100%
								.foto
									background-position 50% 0
									background-repeat no-repeat
									background-size auto 100% 
									height 100%
									position absolute
									top 0
									bottom 0
									width 100%
									z-index 2	
							.degradado
								bottom 0
								left 0
								position absolute
								right 0
								top 0
								z-index 3
								@css {
									background: -moz-linear-gradient(top,  rgba(247,247,247,0) 0%, rgba(175,175,175,0) 29%, rgba(2,2,2,0.68) 99%, rgba(0,0,0,0.68) 100%);
									background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,0)), color-stop(29%,rgba(175,175,175,0)), color-stop(99%,rgba(2,2,2,0.68)), color-stop(100%,rgba(0,0,0,0.68)));
									background: -webkit-linear-gradient(top,  rgba(247,247,247,0) 0%,rgba(175,175,175,0) 29%,rgba(2,2,2,0.68) 99%,rgba(0,0,0,0.68) 100%);
									background: -o-linear-gradient(top,  rgba(247,247,247,0) 0%,rgba(175,175,175,0) 29%,rgba(2,2,2,0.68) 99%,rgba(0,0,0,0.68) 100%);
									background: -ms-linear-gradient(top,  rgba(247,247,247,0) 0%,rgba(175,175,175,0) 29%,rgba(2,2,2,0.68) 99%,rgba(0,0,0,0.68) 100%);
									background: linear-gradient(to bottom,  rgba(247,247,247,0) 0%,rgba(175,175,175,0) 29%,rgba(2,2,2,0.68) 99%,rgba(0,0,0,0.68) 100%);
									filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f7f7f7', endColorstr='#ad000000',GradientType=0 );

								}
							.detalle
								bottom 30px
								color white
								left 30px
								padding 0 5px
								position relative
								text-align left
								text-shadow 1px 1px 5px rgba(black,.5)
								z-index 4
								.nombre
									font-size 1.5em
									font-weight 700
								.club
									font-weight 400
									font-size .95em
						.texto
							padding 30px
							p
								margin-bottom 16px
		.vistaMovil
			display none
	.calendario
		bottom 0
		float right
		margin 0
		overflow-y auto
		position fixed
		right 0 
		top -5px
		width 420px
		.noListaDias
			position fixed
			right 0 
			top 80px
			z-index 10
			width 420px
			

		.listaDias
			display block
			margin 275px 0 100px 0
			.event
				margin-left 14px
				width 94%
.decoracion
	position absolute
	right 210px
	top -420px
	.lineaOuter
	.tituloOuter
		display block
		animation none  
		-webkit-animation none
.header
	border-bottom 5px solid verde
	height 85px
	position fixed
	top 0
	right 0
	left 0
	z-index 5
	.heroOuter
		.hero
			background gris
			animation animacionTablet 150s infinite
			-webkit-animation animacionTablet 150s infinite
			.heroInner
				margin -40px 0 0 0 
				background-position 5px 7px
				background-size 15% auto
				transform: skew(0deg);
				-ms-transform: skew(0deg);
				-webkit-transform: skew(0deg);
	.logoOuter
		h1
			line-height 25px
			font-size 20px
			margin -60px 0 0 115px
			text-align left
		.logoInner
			position relative
			figure
				position absolute
				top 10px 
				left 20px
				img
					display block
					margin 0 auto
					width 60px
.llamadaLabel
.llamadaTitulo
	display none
.menu
	background menuLateral
	bottom 0
	display block
	left 0 
	position fixed
	top 85px 
	width 80px
	ul
		color rgba(white,.8)
		text-align center
		.botonOuter
			cursor pointer
			height 80px
			.botonInner
				position relative
				text-shadow 0 2px 5px rgba(black,.6)
				width 100%
				h3 
					bottom 28px
					font-size .55em
					position relative
				.icono
					&:after
						bottom 24px
						display block
						font-family icomoon
						font-size 2em
						left 38%
						position absolute
				.contactar
					&:after
						content email
				.info
					&:after
						content info
				.patro
					color verde
					&:after
						content colaboradores
				.pubilles
					&:after
						content pubillas
			.top
				margin 85px 0 0 0 
			.bottom
				bottom 0px
				position absolute
.tituloOuter
	animation none
	-webkit-animation none
	display block
	position absolute 
	top 0
	right 0
	z-index 10

// Acciones CHECKBOX
#llamadaCalendario
	display none
#llamadaCalendario:checked ~ .calendario 
	margin 0 
#llamadaCalendario:checked ~ .contenidos 
	margin 0
#llamadaCalendario:checked ~ .contenidos .calendario .listaDias 
	display block
#llamadaCalendario:checked ~ .contenidos .calendario .decoracion .lineaOuter
	display none
#llamadaCalendario:checked ~ .contenidos .calendario .tituloOuter 
	display block


// ANIMACIONES
@keyframes animacionTablet
	0%
		transform translate(-100%, -100%)
		-ms-transform translate(-100%, -100%)
		-webkit-transform translate(-100%, -100%)
	50%
		transform translate(0%, 40%)
		-ms-transform translate(0%, 40%)
		-webkit-transform translate(0%, 40%)

	100%
		transform translate(-100%, -100%)
		-ms-transform translate(-100%, -100%)
		-webkit-transform translate(-100%, -100%)