.inicio {
  max-width: 960px;
  margin: 0 auto;
}
.inicio .dreta,
.inicio .esquerra {
  display: inline-block;
  width: 48%;
  float: right;
}
.inicio .esquerra {
  float: left;
}
.inicio .llibret .saludos {
  max-width: 600px;
  margin: 0 auto;
}
.inicio .programa .llista {
  height: 248px;
}
