
.inicio
	max-width 960px
	margin 0 auto
	.dreta
	.esquerra
		display inline-block 
		width 48%
		float right
	.esquerra
		float left
	.llibret
		.saludos
			max-width 600px
			margin 0 auto
	.programa
		.llista
			height 248px
			
