
@import "reset.styl"

// Fuentes =========================================
principal = 'Lato', sans-serif;

// Colores =========================================
rosa = rgb(209, 80, 95)
rojoClaro = #bd0506
rosa = #f95d49
rojo = #db321c
rojoOscuro = #982617 
footer = #576774 
gris = #484645
grisFondo = #dcdcdc
separador = #d1dbdf
negro = #242d35
verde = #87c031
naranja = #fda524
granate = #654b6b
morado = #bd294e

// @font-face ======================================
@font-face {
    font-family: 'icono';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Iconos ========================
// copa = '\e602'
// foto = '\e601'
// localizacion = '\e606'
// salutacion = '\e619'
baile = "\e222"
calendario = "\e601"
campeonato = "\e21e"
cloenda = "\e212"
concurso = "\e219"
cultural = "\e073"
deporte = "\e28b"
disco = "\e135"
email = "\e60d"
entrada = "\e602"
flechaAbajo = '\e600'
flechaDerecha = '\e606'
flechaIzquierda = '\e604'
gastronomico = "\e22e"
mapa = "\e60c"
menu = "\e418"
micro = "\e06f"
nota = "\e608"
religion = "\e609"
reloj = "\e605"
tijeras = "\e603"


// ===========================



// .icon-mic:before {
//     content: "\e06f";
// }
// .icon-reading:before {
//     content: "\e073";
// }
// .icon-cd:before {
//     content: "\e135";
// }
// .icon-balloon:before {
//     content: "\e212";
// }
// .icon-medal:before {
//     content: "\e219";
// }
// .icon-trophy:before {
//     content: "\e21e";
// }
// .icon-glass:before {
//     content: "\e222";
// }
// .icon-apple-fruit:before {
//     content: "\e22e";
// }
// .icon-bowling:before {
//     content: "\e28b";
// }
// .icon-menu:before {
//     content: "\e418";
// }
// .icon-notes:before {
//     content: "\e608";
// }
// .icon-map:before {
//     content: "\e60c";
// }
// .icon-clock:before {
//     content: "\e605";
// }
// .icon-calendar:before {
//     content: "\e601";
// }
// .icon-ticket:before {
//     content: "\e602";
// }
// .icon-arrow-left:before {
//     content: "\e604";
// }
// .icon-arrow-down:before {
//     content: "\e600";
// }
// .icon-arrow-right:before {
//     content: "\e606";
// }
// .icon-cross:before {
//     content: "\e609";
// }
// .icon-scissors:before {
//     content: "\e603";
// }
// .icon-envelope-alt:before {
//     content: "\e60d";
// }


// ===========================


body
    width 100%
    height 100%
    font-family lato
    font-size 20px
    font-weight 100

::selection
    background rgba(red,.7)
    color white

a
    &:link
        some style
        text-decoration none
    &:visited
        some style
    &:hover
        some style
    &:active
        some style



// Break points ====================================

@import "bp1.styl"

@media screen and (min-width: 770px) 
    @import "bp2.styl"

// @media screen and (min-width: 460px) 
//     @import "bp3.styl"

// @media screen and (min-width: 760px) 
//     @import "bp4.styl"

// @media screen and (min-width: 960px) 
//     @import "bp5.styl"
