
@import "reset.styl"

// Fuentes =========================================
principal = 'Lato', sans-serif;

// Colores =========================================
secundario = #5a6171
rosa = rgb(209, 80, 95)
azul = #198fd5
rojoClaro = #bd0506
rosa = #f95d49
rojo = #db321c
rojoOscuro = #982617 
rojo2 = #fc5f60
gris = #717785
borde = #e0e0e0
negro = #242d35

// @font-face ======================================
@font-face {
    font-family: 'icono';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Iconos ========================
calendario = "\e601"
copa = '\e602'
entrada = "\e600"
flechaAbajo = '\e603'
flechaDerecha = '\e607'
flechaIzquierda = '\e605'
foto = '\e601'
localizacion = '\e606'
nota = "\e608"
reloj = "\e604"
salutacion = '\e619'

// .icon-angle-right:before {
//     content: "\e607";
// }
// .icon-angle-left:before {
//     content: "\e605";
// }
// .icon-angle-down:before {
//     content: "\e603";
// }
// .icon-location2:before {
//     content: "\e606";
// }
// .icon-map:before {
//     content: "\e60c";
// }
// .icon-ticket:before {
//     content: "\e600";
// }
// .icon-calendar:before {
//     content: "\e601";
// }
// .icon-clock:before {
//     content: "\e604";
// }
// .icon-uniF7D1:before {
//     content: "\e60f";
// }
// .icon-uniF536:before {
//     content: "\e610";
// }
// .icon-speaker:before {
//     content: "\e612";
// }
// .icon-soup:before {
//     content: "\e614";
// }
// .icon-notes:before {
//     content: "\e608";
// }
// .icon-drink:before {
//     content: "\e602";


body
    width 100%
    height 100%
    font-family lato
    font-size 20px
    font-weight 100

// Break points ====================================

@import "bp1.styl"

@media screen and (min-width: 355px) 
    @import "bp2.styl"

@media screen and (min-width: 460px) 
    @import "bp3.styl"

@media screen and (min-width: 760px) 
    @import "bp4.styl"

// @media screen and (min-width: 960px) 
//     @import "bp5.styl"
