
@import "reset.styl"

// Fuentes =========================================
principal = 'Lato', sans-serif;

// Colores =========================================
body = #929292
rosa = rgb(209, 80, 95)
rojoLogo = #bd0506
rosa = #f95d49
rojoClaro = #db321c
rojoOscuro = #982617 
footer = #576774 
gris = #484645
grisFondo = #dcdcdc
negro = #242d35
naranja = #fda524
granate = #654b6b
morado = #bd294e


separador = #323438
separador2 = #121314
negroFondo = #3e4145
negroInterface = #222326
negroInterface2 = #161719
negroOscuro = #121314
verde = #b71912
// verde = #80b21e
verdeOscuro = #638e0e
// verdeOscuro = #a01157
menuLateral = #212121
azul = #92ccfd
grisEventoActual = #646669



// @font-face ======================================

back = "\e604"
baile = "\e222"
calendario = "\e601"
campeonato = "\"
cloenda = "\"
compartir = "\e603"
concurso = "\"
cultural = "\"
disco = "\e135"
comentar = "\e152"
disqus = "\e152"
email = "\e60d"
entrada = "\e602"
flecha = '\e600'
gastronomico = "\e229"
happy = "\e31f"
info = "\e606"
menu = "\e418"
menu2 = "\e2aa"
micro = "\e06f"
nota = "\e608"
pubillas = "\e18d"
religion = "\e609"
reloj = "\e605"
salutacions = "\e165"
sponsor = "\e313"
sport = "\e283"



body
    background negroFondo
    font-family lato
    font-size 20px
    font-weight 100
    height 100%
    width 100%

::selection
    background rgba(red,.7)
    color white

a
    &:link
        some style
        text-decoration none
    &:visited
        some style
    &:hover
        some style
    &:active
        some style



// Clases preconfiguradas =====================

.invisible
    display none
.visible
    display block
    transition all .3s ease



// Break points ====================================

@import "bp1.styl"

@media screen and (min-width: 450px) 
    @import "bp2.styl"

@media screen and (min-width: 770px) 
    @import "bp3.styl"

// @media screen and (min-width: 760px) 
//     @import "bp4.styl"

// @media screen and (min-width: 960px) 
//     @import "bp5.styl"
