
/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/stylus/lib/functions/index.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/stylus\/lib\/functions\/index\.styl}line{font-family:\000031}}

/* line 2 : /Users/jordiimac/Documents/FQU/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/reset\.styl}line{font-family:\000032}}

/* line 2 : /Users/jordiimac/Documents/FQU/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/reset\.styl}line{font-family:\000032}}
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/* line 14 : /Users/jordiimac/Documents/FQU/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/reset\.styl}line{font-family:\0000314}}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}

/* line 18 : /Users/jordiimac/Documents/FQU/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/reset\.styl}line{font-family:\0000318}}
pre{white-space:pre-wrap}

/* line 25 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\0000325}}
@font-face{font-family:'icono';src:url("../fonts/icomoon.eot");src:url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}

/* line 133 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\00003133}}
body{background:rgba(0,0,0,0.3);font-family:lato;font-size:20px;font-weight:100;height:100%;margin:0 auto;max-width:1024px;width:100%}

/* line 143 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\00003143}}
::selection{background:rgba(255,0,0,0.7);color:#fff}

/* line 147 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\00003147}}

/* line 148 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\00003148}}
a:link{some:style;text-decoration:none}

/* line 151 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\00003151}}
a:visited{some:style}

/* line 153 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\00003153}}
a:hover{some:style}

/* line 155 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\00003155}}
a:active{some:style}

/* line 162 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\00003162}}
.invisible{display:none}

/* line 164 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\00003164}}
.visible{display:block;transition:all .3s ease}

/* line 3 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\000033}}

/* line 3 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\000033}}
footer{background:#576774;display:block;}

/* line 7 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\000037}}
footer .email{display:inline-block;opacity:.4;padding:15px;position:relative;width:100%;}

/* line 13 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000313}}
footer .email span{display:block;padding:0 40px 0 0;text-align:right}

/* line 17 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000317}}
footer .email a{color:#242d35;position:absolute;right:25px;top:17px;}

/* line 22 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000322}}
footer .email a:after{content:"\e60d";font-family:icono}

/* line 25 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000325}}
footer .logo{display:inline-block;vertical-align:middle;}

/* line 28 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000328}}

/* line 29 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000329}}
footer .logo figure img{height:4.5rem;opacity:.3;padding:15px 25px 7px 15px;width:auto}

/* line 34 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000334}}
.botonSecciones{font-size:0;width:100%;transition:all .5s;-webkit-transition:all .5s;}

/* line 39 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000339}}
.botonSecciones .boton{background:#fff;border-bottom:3px solid #d1dbdf;border-right:1px solid #d1dbdf;color:#6e868f;display:inline-block;font-size:15px;height:52px;line-height:52px;text-align:center;text-transform:uppercase;width:33%;}

/* line 51 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000351}}
.botonSecciones .boton:hover{background:rgba(88,107,114,0.01);border-bottom:none;color:#fff}

/* line 55 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000355}}
.botonSecciones .center{width:34%}

/* line 57 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000357}}
.calendario{display:block;float:right;margin:-80px -100% 0 0;overflow:hidden;width:0%;transition:all .5s;-webkit-transition:all .5s;}

/* line 65 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000365}}
.calendario .botonera{background:#db321c;border-left:5px solid #982617;border-right:5px solid #982617;width:100%;height:auto;position:relative;}

/* line 72 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000372}}
.calendario .botonera:after{border-bottom:37px solid transparent;border-left:10px solid transparent;border-right:8px solid #982617;border-top:37px solid transparent;content:'';position:absolute;right:0;top:0}

/* line 81 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000381}}
.calendario .botonera ul{white-space:nowrap;overflow-x:auto;padding:12px 0;}

/* line 85 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000385}}
.calendario .botonera ul::-webkit-scrollbar{display:none}

/* line 87 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000387}}
.calendario .botonera ul li{background:#982617;border-radius:50%;display:inline-block;height:50px;margin:0 20px 0 0;padding:5px;position:relative;text-align:center;width:50px;}

/* line 97 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000397}}
.calendario .botonera ul li:first-child{margin:0 20px 0 20px}

/* line 99 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000399}}
.calendario .botonera ul li a{color:#fff;font-style:italic;text-decoration:none;}

/* line 103 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003103}}
.calendario .botonera ul li a span{font-size:.5em;left:30%;position:absolute;top:28px}

/* line 108 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003108}}
.calendario .eventoActual{background:#fff;box-shadow:0 0 50px rgba(0,0,0,0.5) inset;border-top:5px solid #bd0506;}

/* line 112 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003112}}
.calendario .eventoActual .titulo{width:90%;}

/* line 114 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003114}}
.calendario .eventoActual .titulo p{margin:10px 0 0 20px;text-transform:uppercase;}

/* line 117 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003117}}
.calendario .eventoActual .titulo p span{font-weight:900}

/* line 119 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003119}}
.calendario .eventoActual .detall{padding:15px 0 35px 0;}

/* line 121 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003121}}
.calendario .eventoActual .detall .event{border-left:3px solid rojo;color:rojo}

/* line 124 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003124}}
.calendario .eventoActual .detall .icono{float:left;padding:5px 20px 0 20px;}

/* line 127 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003127}}
.calendario .eventoActual .detall .icono:after{content:"\e06f";font-family:icono}

/* line 130 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003130}}
.calendario .eventoActual .detall .lloc{color:#484645;font-size:12px;font-weight:300;margin:0 0 0 60px;text-align:left;text-transform:uppercase}

/* line 137 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003137}}

/* line 138 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003138}}
.calendario .listaDias .event{margin:0 auto 20px auto;padding:15px 10px;position:relative;width:95%;z-index:0;}

/* line 144 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003144}}
.calendario .listaDias .event .upOuter{background:#484645;border-radius:5px;height:100%;padding:15px 20px;width:100%}

/* line 151 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003151}}
.calendario .listaDias .event .downOuter{background:#000;border-radius:0 0 5px 5px;}

/* line 154 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003154}}
.calendario .listaDias .event .downOuter .downInner{color:#fff;}

/* line 156 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003156}}
.calendario .listaDias .event .downOuter .downInner p{opacity:.6}

/* line 159 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003159}}
.calendario .listaDias .event #mainEvent{display:none}

/* line 161 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003161}}
.header{height:500px;width:100%;position:relative;}

/* line 165 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003165}}
.header .heroOuter{height:100%;width:100%;overflow:hidden;}

/* line 169 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003169}}
.header .heroOuter .hero{background:#484645;height:100%;width:100%;animation:animacion 120s infinite;-webkit-animation:animacion 120s infinite;}

/* line 175 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003175}}
.header .heroOuter .hero .heroInner{margin:-50px 0 0 0;height:250%;width:250%;background-image:url("../img/hero.jpg");background-position:0;background-repeat:repeat-x repeat-y;background-size:55% auto;transform:skew(0,15deg);-ms-transform:skew(0,15deg);-webkit-transform:skew(0,15deg);transform:scale(1,2,3,4);-ms-transform:scale(1,2,3,4);-webkit-transform:scale(1,2,3,4)}

/* line 189 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003189}}
.header .logoOuter{position:absolute;top:0;right:0;bottom:0;left:0;background: -moz-linear-gradient(left,  rgba(255,255,255,1) 1%, rgba(238,238,238,1) 65%, rgba(229,229,229,0) 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,1)), color-stop(65%,rgba(238,238,238,1)), color-stop(100%,rgba(229,229,229,0)));
			background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(238,238,238,1) 65%,rgba(229,229,229,0) 100%);
			background: -o-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(238,238,238,1) 65%,rgba(229,229,229,0) 100%);
			background: -ms-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(238,238,238,1) 65%,rgba(229,229,229,0) 100%);
			background: linear-gradient(to right,  rgba(255,255,255,1) 1%,rgba(238,238,238,1) 65%,rgba(229,229,229,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00e5e5e5',GradientType=1 );}
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 1%, rgba(238,238,238,1) 65%, rgba(229,229,229,0) 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(255,255,255,1)), color-stop(65%,rgba(238,238,238,1)), color-stop(100%,rgba(229,229,229,0)));
			background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(238,238,238,1) 65%,rgba(229,229,229,0) 100%);
			background: -o-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(238,238,238,1) 65%,rgba(229,229,229,0) 100%);
			background: -ms-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(238,238,238,1) 65%,rgba(229,229,229,0) 100%);
			background: linear-gradient(to right,  rgba(255,255,255,1) 1%,rgba(238,238,238,1) 65%,rgba(229,229,229,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00e5e5e5',GradientType=1 );

/* line 196 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003196}}
.header .logoOuter h1{color:rgba(0,0,0,0.8);font-size:24px;font-weight:400;letter-spacing:1px;line-height:1.3em;text-align:center;text-transform:uppercase;}

/* line 204 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003204}}
.header .logoOuter h1 span{font-weight:700}

/* line 206 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003206}}
.header .logoOuter .logoInner{padding:25px 0 0 0;}

/* line 208 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003208}}

/* line 209 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003209}}
.header .logoOuter .logoInner figure img{display:block;margin:0 auto;width:250px}

/* line 213 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003213}}
.llamadaClendarioLabel{background:#fff;float:right;transition:all .5s;-webkit-transition:all .5s;}

/* line 218 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003218}}
.llamadaClendarioLabel .botonLabel{color:#db321c;height:80px;text-align:center;width:40px;transition:all .5s;-webkit-transition:all .5s;}

/* line 225 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003225}}
.llamadaClendarioLabel .botonLabel .flecha{font-size:1.5em;}

/* line 227 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003227}}
.llamadaClendarioLabel .botonLabel .flecha:after{content:'\e606';font-family:icono;line-height:80px}

/* line 231 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003231}}
.llamadaClendarioTitulo{background:#bd0506;font-weight:400;height:80px;width:100%;transition:all .5s;-webkit-transition:all .5s;}

/* line 238 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003238}}
.llamadaClendarioTitulo h2{color:#fff;font-size:21px;font-style:italic;letter-spacing:1px;padding:15px 0 0 30px;text-transform:uppercase;}

/* line 245 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003245}}
.llamadaClendarioTitulo h2 span{display:block;font-size:16px;letter-spacing:0;text-transform:lowercase}

/* line 250 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003250}}
.seccionesContenido{background:#dcdcdc;width:100%;transition:all .5s;-webkit-transition:all .5s;}

/* line 255 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003255}}
.seccionesContenido .patrocinadors{padding:30px 0;}

/* line 257 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003257}}
.seccionesContenido .patrocinadors .uno{display:block;margin:25px auto 0 auto;width:40%;}

/* line 261 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003261}}
.seccionesContenido .patrocinadors .uno:first-child{margin:0 auto 0 auto}

/* line 265 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003265}}
#mainCheckbox{display:none}

/* line 267 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003267}}
#mainCheckbox:checked ~ .calendario{margin:-80px 0 0 0;width:100%}

/* line 270 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003270}}
#mainCheckbox:checked ~ .llamadaClendarioLabel{background:none}

/* line 272 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003272}}
#mainCheckbox:checked ~ .llamadaClendarioLabel .botonLabel{transform:rotateZ(180deg);-ms-transform:rotateZ(180deg);-webkit-transform:rotateZ(180deg)}

/* line 276 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003276}}
#mainCheckbox:checked ~ .botonSecciones{margin-left:-100%}

/* line 278 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003278}}
#mainCheckbox:checked ~ .llamadaClendarioTitulo{margin-left:-100%}

/* line 280 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003280}}
#mainCheckbox:checked ~ .seccionesContenido{margin-left:-100%}

/* line 284 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003284}}
@-moz-keyframes animacion{0%{transform:translate(-150%,-150%);-ms-transform:translate(-150%,-150%);-webkit-transform:translate(-150%,-150%)}
50%{transform:translate(50%,10%);-ms-transform:translate(50%,10%);-webkit-transform:translate(50%,10%)}
100%{transform:translate(-150%,-150%);-ms-transform:translate(-150%,-150%);-webkit-transform:translate(-150%,-150%)}
}
/* line 284 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003284}}
@-webkit-keyframes animacion{0%{transform:translate(-150%,-150%);-ms-transform:translate(-150%,-150%);-webkit-transform:translate(-150%,-150%)}
50%{transform:translate(50%,10%);-ms-transform:translate(50%,10%);-webkit-transform:translate(50%,10%)}
100%{transform:translate(-150%,-150%);-ms-transform:translate(-150%,-150%);-webkit-transform:translate(-150%,-150%)}
}
/* line 284 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003284}}
@-o-keyframes animacion{0%{transform:translate(-150%,-150%);-ms-transform:translate(-150%,-150%);-webkit-transform:translate(-150%,-150%)}
50%{transform:translate(50%,10%);-ms-transform:translate(50%,10%);-webkit-transform:translate(50%,10%)}
100%{transform:translate(-150%,-150%);-ms-transform:translate(-150%,-150%);-webkit-transform:translate(-150%,-150%)}
}
/* line 284 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003284}}
@-ms-keyframes animacion{0%{transform:translate(-150%,-150%);-ms-transform:translate(-150%,-150%);-webkit-transform:translate(-150%,-150%)}
50%{transform:translate(50%,10%);-ms-transform:translate(50%,10%);-webkit-transform:translate(50%,10%)}
100%{transform:translate(-150%,-150%);-ms-transform:translate(-150%,-150%);-webkit-transform:translate(-150%,-150%)}
}
/* line 284 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003284}}
@keyframes animacion{0%{transform:translate(-150%,-150%);-ms-transform:translate(-150%,-150%);-webkit-transform:translate(-150%,-150%)}
50%{transform:translate(50%,10%);-ms-transform:translate(50%,10%);-webkit-transform:translate(50%,10%)}
100%{transform:translate(-150%,-150%);-ms-transform:translate(-150%,-150%);-webkit-transform:translate(-150%,-150%)}
}
/* line 174 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\00003174}}
@media screen and (min-width: 770px){
/* line 2 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\000032}}

/* line 2 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\000032}}
section{width:90%;max-width:46em;text-align:justify;padding:1em 2em 0;margin:0 auto;color:#ecf0f1;line-height:1.3;font-size:1.5em;}

/* line 11 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\0000311}}
section p{opacity:.4}

/* line 13 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\0000313}}
.ha-header{background-image:url("../img/hero.jpg");background-position:0 -100px;background-repeat:repeat-x repeat-y;background-size:35% auto;position:fixed;top:0;left:0;width:100%;z-index:50;-webkit-transform:translateY(0%);-moz-transform:translateY(0%);transform:translateY(0%);-webkit-transition:all .5s;-moz-transition:all .5s;transition:all .5s}

/* line 29 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\0000329}}
.ha-header-perspective{background: -moz-radial-gradient(center, ellipse cover,  rgba(153,153,153,0) 0%, rgba(2,2,2,1) 99%, rgba(0,0,0,1) 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(153,153,153,0)), color-stop(99%,rgba(2,2,2,1)), color-stop(100%,rgba(0,0,0,1)));
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(153,153,153,0) 0%,rgba(2,2,2,1) 99%,rgba(0,0,0,1) 100%);
      background: -o-radial-gradient(center, ellipse cover,  rgba(153,153,153,0) 0%,rgba(2,2,2,1) 99%,rgba(0,0,0,1) 100%);
      background: -ms-radial-gradient(center, ellipse cover,  rgba(153,153,153,0) 0%,rgba(2,2,2,1) 99%,rgba(0,0,0,1) 100%);
      background: radial-gradient(ellipse at center,  rgba(153,153,153,0) 0%,rgba(2,2,2,1) 99%,rgba(0,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#000000',GradientType=1 );padding:0 7%;height:100%;width:100%;overflow:hidden;position:relative}
background: -moz-radial-gradient(center, ellipse cover,  rgba(153,153,153,0) 0%, rgba(2,2,2,1) 99%, rgba(0,0,0,1) 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(153,153,153,0)), color-stop(99%,rgba(2,2,2,1)), color-stop(100%,rgba(0,0,0,1)));
      background: -webkit-radial-gradient(center, ellipse cover,  rgba(153,153,153,0) 0%,rgba(2,2,2,1) 99%,rgba(0,0,0,1) 100%);
      background: -o-radial-gradient(center, ellipse cover,  rgba(153,153,153,0) 0%,rgba(2,2,2,1) 99%,rgba(0,0,0,1) 100%);
      background: -ms-radial-gradient(center, ellipse cover,  rgba(153,153,153,0) 0%,rgba(2,2,2,1) 99%,rgba(0,0,0,1) 100%);
      background: radial-gradient(ellipse at center,  rgba(153,153,153,0) 0%,rgba(2,2,2,1) 99%,rgba(0,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#000000',GradientType=1 );

/* line 36 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\0000336}}
.ha-header-large{height:350px;}

/* line 38 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\0000338}}
.ha-header-large .logoOuter{background:#fff;height:100%;left:0;position:absolute;width:450px;}

/* line 44 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\0000344}}
.ha-header-large .logoOuter h1{color:rgba(0,0,0,0.8);-moz-transition:all .5s;-webkit-transition:all .5s;font-size:24px;font-weight:300;letter-spacing:1px;line-height:1.3em;text-align:center;text-transform:uppercase;transition:all .5s;}

/* line 55 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\0000355}}
.ha-header-large .logoOuter h1 span{font-weight:700;letter-spacing:0}

/* line 58 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\0000358}}

/* line 59 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\0000359}}
.ha-header-large .logoOuter .logoInner img{-moz-transition:all .5s;-webkit-transition:all .5s;display:block;margin:0 auto 0 auto;transition:all .5s;width:200px}

/* line 66 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\0000366}}
.ha-header-small{height:80px;}

/* line 68 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\0000368}}
.ha-header-small .logoOuter{background:#fff;width:450px;}

/* line 71 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\0000371}}
.ha-header-small .logoOuter h1{font-size:20px;left:100px;position:absolute;text-align:left;top:13px}

/* line 77 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\0000377}}

/* line 78 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\0000378}}
.ha-header-small .logoOuter .logoInner img{left:15px;position:absolute;top:5px;width:65px}

/* line 83 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\0000383}}
.llamadaClendario{display:none}
}