
/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/stylus/lib/functions/index.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/stylus\/lib\/functions\/index\.styl}line{font-family:\000031}}

/* line 2 : /Users/jordiimac/Documents/FQU/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/reset\.styl}line{font-family:\000032}}

/* line 2 : /Users/jordiimac/Documents/FQU/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/reset\.styl}line{font-family:\000032}}
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/* line 14 : /Users/jordiimac/Documents/FQU/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/reset\.styl}line{font-family:\0000314}}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}

/* line 18 : /Users/jordiimac/Documents/FQU/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/reset\.styl}line{font-family:\0000318}}
pre{white-space:pre-wrap}

/* line 19 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\0000319}}
@font-face{font-family:'icono';src:url("../fonts/icomoon.eot");src:url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}

/* line 65 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\0000365}}
body{width:100%;height:100%;font-family:lato;font-size:20px;font-weight:100}

/* line 2 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\000032}}

/* line 2 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\000032}}
article{color:#fff}

/* line 5 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\000035}}
body{background:#e8e1d7}

/* line 8 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\000038}}
header{background-image:url("../img/foto1.jpg");background-position:0 -100px;background-repeat:no-repeat;background-size:100% auto;color:#fff;height:350px;letter-spacing:2px;text-align:center;}

/* line 17 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000317}}
header .texto{background:rgba(0,0,0,0.5);padding:20px 0;position:relative;z-index:5;top:50px;}

/* line 23 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000323}}
header .texto h1{display:inline-block;font-size:28px;font-style:italic;text-transform:uppercase}

/* line 28 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000328}}
header .texto p{display:inline-block;font-size:28px;font-style:italic}

/* line 32 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000332}}
header .texto span{display:block;font-size:21px;font-style:italic;text-transform:uppercase}

/* line 38 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000338}}
label{background:#fff;border-bottom:5px solid rgba(0,0,0,0.1);color:#db321c;color:#db321c;height:80px;position:absolute;right:0;text-align:center;text-align:center;top:350px;width:40px;z-index:5;}

/* line 51 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000351}}

/* line 52 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000352}}

/* line 53 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000353}}
label .boton .flecha:after{content:'\e606';font-family:icono;font-size:1.2em;line-height:75px}

/* line 59 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000359}}
.bg{background-image:url("../img/patron.png");position:fixed;top:0;left:0;right:0;bottom:0;z-index:-4}

/* line 68 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000368}}
.calendario{width:0%;float:right;overflow-x:hidden;transition:.5s all ease;}

/* line 73 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000373}}
.calendario .botonera{background:#db321c;border-left:5px solid #982617;border-right:5px solid #982617;width:100%;height:auto;position:relative;}

/* line 80 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000380}}
.calendario .botonera:after{border-bottom:37px solid transparent;border-left:10px solid transparent;border-right:8px solid #982617;border-top:37px solid transparent;content:'';position:absolute;right:0;top:0}

/* line 89 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000389}}
.calendario .botonera ul{white-space:nowrap;overflow-x:auto;padding:12px 0;}

/* line 93 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000393}}
.calendario .botonera ul li{background:#982617;border-radius:50%;display:inline-block;height:50px;margin:0 20px 0 0;padding:5px;position:relative;text-align:center;width:50px;}

/* line 103 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003103}}
.calendario .botonera ul li:first-child{margin:0 20px 0 20px}

/* line 105 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003105}}
.calendario .botonera ul li a{color:#fff;font-style:italic;text-decoration:none;}

/* line 109 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003109}}
.calendario .botonera ul li a span{font-size:.5em;left:30%;position:absolute;top:28px}

/* line 115 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003115}}
.calendario .eventoActual{background:#fff;box-shadow:0 0 50px rgba(0,0,0,0.5) inset;border-top:5px solid #bd0506;font-size:16px;font-weight:bold;height:auto;line-height:21px;padding:20px 25px;text-align:center;width:100%;}

/* line 126 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003126}}
.calendario .eventoActual .lloc{color:rgba(0,0,0,0.5);font-size:.7em;margin:10px 0 0 0;text-transform:uppercase;}

/* line 131 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003131}}

/* line 132 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003132}}
.calendario .eventoActual .lloc p:before{content:'\e602';font-family:icono;margin:0 5px 0 0}

/* line 137 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003137}}

/* line 138 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003138}}
.calendario .listaEvento .evento{background:#fff;border-radius:5px;border-bottom:25px solid rgba(0,0,0,0.3);border-top:3px solid #fc5f60;line-height:1.2em;margin:20px 10px;padding:15px 20px;position:relative;}

/* line 147 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003147}}
.calendario .listaEvento .evento .hora{color:rgba(0,0,0,0.5);font-size:.8em;font-style:italic;position:absolute;right:20px}

/* line 153 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003153}}
.calendario .listaEvento .evento .tituloEvento{font-size:16px;font-weight:bold;margin:35px 0 10px 50px;}

/* line 157 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003157}}
.calendario .listaEvento .evento .tituloEvento:before{color:rgba(0,0,0,0.5);content:'\e608';font-family:icono;font-size:1.2em;position:absolute;left:40px;top:52px}

/* line 165 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003165}}
.calendario .listaEvento .evento .tituloEvento .detalleEvento{display:none;color:rgba(0,0,0,0.5);margin:10px 0 0 0}

/* line 169 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003169}}
.calendario .listaEvento .evento .tipoEvento{color:#fff;font-size:.7em;font-style:italic;padding:20px 0 0 0;position:absolute;right:20px;bottom:-25px;}

/* line 177 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003177}}
.calendario .listaEvento .evento .tipoEvento span,.calendario .listaEvento .evento .tipoEvento p{display:inline-block;margin:0 0 0 5px}

/* line 182 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003182}}
.contenido{width:100%;float:left;transition:.5s all ease}

/* line 187 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003187}}
.llamada{background:#bd0506;font-weight:400;height:80px;position:relative;width:100%;}

/* line 193 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003193}}
.llamada p{color:#fff;font-size:21px;font-style:italic;padding:10px 20px;text-transform:uppercase;letter-spacing:1px}

/* line 200 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003200}}
.llamada span{color:#fff;display:block;font-size:16px;margin:-5px 20px 0 20px}

/* line 206 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003206}}
.salutaciones{background:#db321c;border-radius:5px;height:auto;margin:20px auto 20px auto;padding:0 0 10px 0;width:95%;}

/* line 213 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003213}}
.salutaciones .header{font-style:italic;text-transform:uppercase;font-size:21px;padding:20px 20px 10px 20px;letter-spacing:1px}

/* line 219 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003219}}
.salutaciones .imagen{width:auto;height:135px;background-image:url("../img/salutacions/ajuntament.jpg");background-position:0 0;background-repeat:no-repeat;background-size:100% auto}

/* line 226 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003226}}
.salutaciones .footer{font-size:16px;padding:20px;position:relative;}

/* line 230 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003230}}
.salutaciones .footer a{color:#fff;font-size:16px;font-weight:400;position:absolute;right:40px;text-decoration:none;top:15px;}

/* line 238 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003238}}
.salutaciones .footer a:after{content:'\e607';font-family:icono;font-size:2em;position:absolute;right:-25px;top:-5px}

/* line 246 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003246}}
.pubillas{background:#f95d49;border-radius:5px;height:auto;margin:10px auto 20px auto;padding:0 0 10px 0;width:95%;}

/* line 253 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003253}}
.pubillas .caras{background:#f5f5f5;border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;padding:20px 0 20px 0;overflow-x:auto;white-space:nowrap;}

/* line 260 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003260}}
.pubillas .caras .cara{display:inline-block;margin:0 20px 0 0;text-align:center;}

/* line 264 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003264}}
.pubillas .caras .cara a{text-decoration:none}

/* line 266 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003266}}
.pubillas .caras .cara:first-child{padding:0 0 0 20px}

/* line 268 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003268}}
.pubillas .caras .cara img{box-shadow:0 0 10px rgba(0,0,0,0.3);border-radius:50%;width:90px;height:auto}

/* line 273 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003273}}
.pubillas .caras .cara .nombre{color:rgba(0,0,0,0.6);font-size:.7em;font-weight:400;margin:10px 0 0 0}

/* line 278 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003278}}
.pubillas .footer{font-size:16px;padding:20px;position:relative;}

/* line 282 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003282}}
.pubillas .footer a{color:#fff;font-size:16px;font-weight:400;position:absolute;right:40px;text-decoration:none;top:15px;}

/* line 290 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003290}}
.pubillas .footer a:after{content:'\e607';font-family:icono;font-size:2em;position:absolute;right:-25px;top:-5px}

/* line 297 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003297}}
.pubillas .header{font-style:italic;text-transform:uppercase;font-size:21px;padding:20px 20px 10px 20px;letter-spacing:1px}

/* line 304 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003304}}
#main-check{display:none}

/* line 307 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003307}}
#main-check:checked ~ label .boton{transform:rotateZ(180deg);-ms-transform:rotateZ(180deg);-webkit-transform:rotateZ(180deg)}

/* line 312 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003312}}
#main-check:checked ~ .calendario{width:100%}

/* line 315 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003315}}
#main-check:checked ~ .contenido{margin-left:-100%}

/* line 76 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\0000376}}
@media screen and (min-width: 355px){
/* line 2 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\000032}}

/* line 2 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\000032}}

/* line 3 : /Users/jordiimac/Documents/FQU/css/bp2.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp2\.styl}line{font-family:\000033}}
.salutaciones .imagen{background-position:0 -20px}
}
/* line 79 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\0000379}}
@media screen and (min-width: 460px){
/* line 2 : /Users/jordiimac/Documents/FQU/css/bp3.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp3\.styl}line{font-family:\000032}}

/* line 2 : /Users/jordiimac/Documents/FQU/css/bp3.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp3\.styl}line{font-family:\000032}}
.inicio{max-width:600px;margin:0 auto}
}
/* line 82 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\0000382}}
@media screen and (min-width: 760px){
/* line 2 : /Users/jordiimac/Documents/FQU/css/bp4.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp4\.styl}line{font-family:\000032}}

/* line 2 : /Users/jordiimac/Documents/FQU/css/bp4.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp4\.styl}line{font-family:\000032}}
.inicio{max-width:960px;margin:0 auto;}

/* line 5 : /Users/jordiimac/Documents/FQU/css/bp4.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp4\.styl}line{font-family:\000035}}
.inicio .dreta,.inicio .esquerra{display:inline-block;width:48%;float:right}

/* line 10 : /Users/jordiimac/Documents/FQU/css/bp4.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp4\.styl}line{font-family:\0000310}}
.inicio .esquerra{float:left}

/* line 12 : /Users/jordiimac/Documents/FQU/css/bp4.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp4\.styl}line{font-family:\0000312}}

/* line 13 : /Users/jordiimac/Documents/FQU/css/bp4.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp4\.styl}line{font-family:\0000313}}
.inicio .llibret .saludos{max-width:600px;margin:0 auto}

/* line 16 : /Users/jordiimac/Documents/FQU/css/bp4.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp4\.styl}line{font-family:\0000316}}

/* line 17 : /Users/jordiimac/Documents/FQU/css/bp4.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp4\.styl}line{font-family:\0000317}}
.inicio .programa .llista{height:248px}
}