
/* line 1 : /Applications/CodeKit.app/Contents/Resources/engines/stylus/lib/functions/index.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/stylus\/lib\/functions\/index\.styl}line{font-family:\000031}}

/* line 2 : /Users/jordiimac/Documents/FQU/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/reset\.styl}line{font-family:\000032}}

/* line 2 : /Users/jordiimac/Documents/FQU/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/reset\.styl}line{font-family:\000032}}
html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/* line 14 : /Users/jordiimac/Documents/FQU/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/reset\.styl}line{font-family:\0000314}}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}

/* line 18 : /Users/jordiimac/Documents/FQU/css/reset.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/reset\.styl}line{font-family:\0000318}}
pre{white-space:pre-wrap}

/* line 21 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\0000321}}
@font-face{font-family:'icono';src:url("../fonts/icomoon.eot");src:url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("../fonts/icomoon.woff") format('woff'),url("../fonts/icomoon.ttf") format('truetype'),url("../fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}

/* line 45 : /Users/jordiimac/Documents/FQU/css/estilos.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/estilos\.styl}line{font-family:\0000345}}
body{width:100%;height:100%;font-family:lato;font-size:20px;font-weight:100}

/* line 3 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\000033}}

/* line 3 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\000033}}
header{background:#5a6171;height:50px;overflow:hidden;}

/* line 7 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\000037}}
header h1{color:#808080;font-size:.95em;font-weight:300;line-height:2.5em;margin:0;padding:0 0 0 70px;}

/* line 14 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000314}}
header h1 span{color:#000;font-weight:400;margin:0}

/* line 18 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000318}}
header p{color:#fff;font-weight:900;font-style:italic;margin:-37px 0 0 0;padding:0 0 0 290px}

/* line 24 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000324}}
header .logo{background-image:url("../img/logo.png");background-position:0 0;background-repeat:no-repeat;background-size:auto 50px;width:600px;height:50px}

/* line 31 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000331}}

/* line 32 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000332}}
section .secciones{margin:0 10px;}

/* line 34 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000334}}

/* line 35 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000335}}
section .secciones .salutaciones .titulo{color:rgba(0,0,0,0.5);font-size:.8em;font-weight:300;margin:10px 0;text-align:center;text-transform:uppercase;position:relative;}

/* line 43 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000343}}
section .secciones .salutaciones .titulo .linea{background:rgba(0,0,0,0.5);display:block;height:1px;position:absolute;top:10px;width:100%;z-index:1}

/* line 51 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000351}}
section .secciones .salutaciones .titulo .texto{background:#9fc1e0;padding:0 15px;position:relative;z-index:2}

/* line 56 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000356}}
.bg{background:#9fc1e0;height:100%;left:0;position:fixed;top:0;width:100%;z-index:-50}

/* line 64 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000364}}
.invisible{display:none}

/* line 66 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000366}}
.menu{background:#5a6171;border-radius:5px;bottom:0;color:#fff;left:0;margin:0 auto .4em auto;position:fixed;right:0;width:97%;z-index:20;animation:animacionMenu 1s 1;-webkit-animation:animacionMenu 1s 1;}

/* line 79 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000379}}

/* line 80 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000380}}
.menu .botones .botonMenu{display:inline-block;line-height:2em;text-align:center;vertical-align:bottom;width:32%;}

/* line 86 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000386}}
.menu .botones .botonMenu a{color:#fff;text-decoration:none}

/* line 89 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000389}}
.menu .botones .botonMenu .compartir{font-size:1.2em;}

/* line 91 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000391}}
.menu .botones .botonMenu .compartir:after{content:'\e602';font-family:icono;font-size:.9em}

/* line 95 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000395}}
.menu .botones .botonMenu .compartir:active{color:rgba(255,255,255,0.3)}

/* line 97 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000397}}

/* line 98 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\0000398}}
.menu .botones .botonMenu .mapa:after{content:'\e600';font-family:icono;font-size:1.2em}

/* line 102 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003102}}
.menu .botones .botonMenu .mapa:active{color:rgba(255,255,255,0.3)}

/* line 104 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003104}}
.menu .botones .botonMenu .menuResizer{font-weight:400;}

/* line 106 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003106}}
.menu .botones .botonMenu .menuResizer:active{color:rgba(255,255,255,0.3)}

/* line 108 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003108}}

/* line 109 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003109}}
.menu .botones .botonMenu .menuResizer .aumentar:after{content:'A';font-size:1em}

/* line 112 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003112}}

/* line 113 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003113}}
.menu .botones .botonMenu .menuResizer .disminuir:after{content:'A';font-size:.6em}

/* line 116 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003116}}
.menu .resizer{background:rgba(0,0,0,0.2);border-top:1px solid rgba(40,49,72,0.4);box-shadow:0 1px 0 rgba(255,255,255,0.1);color:rgba(255,255,255,0.7);padding:.4em 0;}

/* line 122 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003122}}
.menu .resizer .botonResizer{display:inline-block;font-weight:400;text-align:center;width:49%;}

/* line 127 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003127}}
.menu .resizer .botonResizer .disminuir{border-right:1px solid rgba(40,49,72,0.4);box-shadow:1px 0 0 rgba(255,255,255,0.1);}

/* line 130 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003130}}
.menu .resizer .botonResizer .disminuir:after{content:'A';font-size:.7em}

/* line 133 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003133}}
.menu .resizer .botonResizer .disminuir:active{color:rgba(255,255,255,0.3)}

/* line 135 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003135}}

/* line 136 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003136}}
.menu .resizer .botonResizer .aumentar:after{content:'A';font-size:1.2em}

/* line 139 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003139}}
.menu .resizer .botonResizer .aumentar:active{color:rgba(255,255,255,0.3)}

/* line 141 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003141}}
.menu .social{background:rgba(0,0,0,0.2);border-top:1px solid rgba(40,49,72,0.45);padding:.8em 0 .6em 0;}

/* line 145 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003145}}
.menu .social .botonSocial{display:inline-block;font-weight:400;text-align:center;width:49%;}

/* line 150 : /Users/jordiimac/Documents/FQU/css/bp1.styl */

@media -stylus-debug-info{filename{font-family:file\:\/\/\/Users\/jordiimac\/Documents\/FQU\/css\/bp1\.styl}line{font-family:\00003150}}
.menu .social .botonSocial .twitter{margin:0 0 0 1.5em}
